	</div>
</div>
<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			{% if site.twitter_url %}
			<li><a href="{{ site.twitter_url }}" class="icon style2 fab fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
			{% endif %}
			{% if site.facebook_url %}
			<li><a href="{{ site.facebook_url }}" class="icon style2 fab fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
			{% endif %}
			{% if site.instagram_url %}
			<li><a href="{{ site.instagram_url }}" class="icon style2 fab fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
			{% endif %}
		</ul>
		<ul class="copyright">
			<li>&copy; {{ site.title }} All rights reserved</li>
			<li>各ページに掲載されたジャケット画像、歌詞に関する著作権は、各レコード会社、アーティストなどに帰属します。</li>
		</ul>
		<ul class="copyright">
			<img src="{{ "assets/images/jasrac.gif" | relative_url }}">
			<li>JASRAC許諾第J200928595号</li>
		</div>
	</div>
</footer>
</div>

<!-- Scripts -->
<script src="{{ "assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/skel.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/util.js" | relative_url }}"></script>
<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | relative_url }}"></script><![endif]-->
<script src="{{ "assets/js/main.js" | relative_url }}"></script>
