<!-- Wrapper -->
<div id="wrapper">

{% if site.lang == "ja" %}
{% capture currenthome %}{{ site.baseurl }}/{% endcapture %}
{% capture newhome %}{{ site.baseurl_root }}/en{% endcapture %}
{% capture newlang %}{% t global.english %}{% endcapture %}
{% elsif site.lang == "en" %}
{% capture currenthome %}{{ site.baseurl_root }}/en{% endcapture %}
{% capture newhome %}{{ site.baseurl_root }}{% endcapture %}
{% capture newlang %}{% t global.japanese %}{% endcapture %}
{% endif %}

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="{{ currenthome }}" class="logo">
			<span class="symbol">
				{% if site.font-awesome-icon-logo %}
				<div href="#" class="icon style1 {{ site.font-awesome-icon-logo }}"></div>
				{% else %}
				<img src="{{ site.baseurl }}/{{ site.logo-image-url }}" alt="" />
				{% endif %}
			</span><span class="title">{{ site.title }}</span>
		</a>
		<nav>
			<ul>
				<li><a href="#menu">Menu</a></li>
			</ul>
		</nav>
	</div>
</header>

<!-- Menu -->
<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{{ currenthome }}">{% t titles.home %}</a></li>
		{% for page in site.pages %}
		<li><a href="{{ page.url | relative_url }}">{% t page.title %}</a></li>
		{% endfor %}
	</ul>
</nav>

<div id="main">
	<div class="inner">