<!-- Wrapper -->
<div id="wrapper">

{% if site.lang == "ja" %}
{% capture currenthome %}{{ site.baseurl }}/{% endcapture %}
{% capture newhome %}{{ site.baseurl_root }}/en{% endcapture %}
{% capture newlang %}{% t global.english %}{% endcapture %}
{% elsif site.lang == "en" %}
{% capture currenthome %}{{ site.baseurl_root }}/en{% endcapture %}
{% capture newhome %}{{ site.baseurl_root }}{% endcapture %}
{% capture newlang %}{% t global.japanese %}{% endcapture %}
{% endif %}

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ currenthome }}" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="{{ newhome }}{{ page.url }}" >{{ newlang }}</a>
		<a href="#menu">{% t menu.menu %}</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
			<li><a href="{{ page.url | relative_url }}">{% t page.title %}</a></li>
		{% endfor %}
	</ul>
</nav>
