<!-- Wrapper -->
<div id="wrapper">
<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="{{ site.baseurl }}/" class="logo">
			<span class="symbol">
				{% if site.font-awesome-icon-logo %}
				<div href="#" class="icon style1 {{ site.font-awesome-icon-logo }}"></div>
				{% else %}
				<img src="{{ site.baseurl }}/{{ site.logo-image-url }}" alt="" />
				{% endif %}
			</span><span class="title">{% t titles.title %}</span>
		</a>
		<nav>
			<ul>
				<li><a href="#lang"><i class="fa fa-language" aria-hidden="true"></i></a></li>
				<li><a href="#menu"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
			</ul>
		</nav>
	</div>
</header>

<nav id="lang" class="menu">
	<h2>{% t global.language %}</h2>
	<ul>
		<li><a href="{{ site.baseurl_root }}{{ page.url }}">{% t global.japanese %}</a></li>
		<li><a href="{{ site.baseurl_root }}/en{{ page.url }}">{% t global.english %}</a></li>
	</ul>
</nav>

<!-- Menu -->
<nav id="menu" class="menu">
	<h2>{% t menu.menu %}</h2>
	<ul>
		<li><a href="{{ site.baseurl }}/">{% t pages.home.title %}</a></li>
		{% for page in site.pages %}
		<li><a href="{{ site.baseurl }}{{ page.url }}">{% t page.title %}</a></li>
		{% endfor %}
	</ul>
</nav>

<div id="main">
	<div class="inner">