/* Song */

	div.song {
		> h1.title {
			margin: 0
		}

		> h2.credits {
			letter-spacing: normal;

			> br {
				display: inline;
			}
		}

		> span.image {
			float: right;
			margin: 0 0 (_size(element-margin) * 1) (_size(element-margin) * 1);

			@media screen and (min-width: 390px) and (max-width: 650px) {
				float: none;
				width: 100%;
				margin: 0 0 (_size(element-margin) * 1) 0;
			}

			> img {
				width: 100%;

				@media screen and (min-width: 390px) and (max-width: 650px) {
					margin: auto;
					width: auto;
				}
			}
		}

		> div.lyrics {
			min-height: 350px;
		}
	}