/* Song */

	div.song {
		> h1.title {
			margin: 0
		}

		> h2.credits {
			letter-spacing: normal;

			> br {
				display: inline;
			}
		}

		> span.image {
			float: right;
			margin: 0 0 (_size(element-margin) * 1) (_size(element-margin) * 1);

			@media screen and (max-width: 390px) {
				float: right;
				margin-left: 0;
			}

			@media screen and (min-width: 390px) and (max-width: 650px) {
				float: none;
				width: 100%;
				margin-left: 0;
			}

			> img {
				width: 100%;

				@media screen and (min-width: 390px) and (max-width: 650px) {
					margin: auto;
					width: auto;
				}
			}
		}

		> div.lyrics {
			min-height: 350px;
			
			p {
				margin: 0;
			}

			p:not(:first-of-type) {
				padding-top: 0.75em;
			}

			p:not(:last-of-type) {
				padding-bottom: 1.25em;
			}
		}

		> div.colors {
			border-color: red;

			.fad {
				float: left;
				margin-top: -25px;
				margin-left: -8px;
				--fa-primary-opacity: 0.7;
				--fa-secondary-color: #ff0000ff;
				--fa-secondary-opacity: 0.8;
			}

			p {
				border-left: solid 10px;
				border-color: inherit;
				padding-left: 1em;
				position: relative;
			}

			p:before {
				content: "";
				position: absolute;
				top: 2px;
				bottom: 2px;
				left: -8px;
			}

			p:first-of-type {
				border-top-left-radius: 4px;
			}

			p:first-of-type:not(:last-of-type):before {
				bottom: 0px;
				border-top-left-radius: 4px;
			}

			p:last-of-type {
				border-bottom-left-radius: 4px;
			}

			p:last-of-type:not(:first-of-type):before {
				top: 0px;
				border-bottom-left-radius: 4px;
			}

			p:not(:first-of-type):not(:last-of-type):before {
				top: 0px;
				bottom: 0px;
			}
		}
	}