/* Song */

	div.song {
		> h1.title {
			margin: 0
		}

		> h2.credits {
			letter-spacing: normal;

			> br {
				display: inline;
			}
		}

		> span.image {
			float: right;
			margin: 0 0 (_size(element-margin) * 1) (_size(element-margin) * 1);

			@media screen and (min-width: 390px) and (max-width: 650px) {
				float: none;
				width: 100%;
				margin: 0 0 (_size(element-margin) * 1) 0;
			}

			> img {
				width: 100%;

				@media screen and (min-width: 390px) and (max-width: 650px) {
					margin: auto;
					width: auto;
				}
			}
		}

		> div.lyrics {
			min-height: 350px;
			
			p {
				margin: 0;
			}

			p:not(:first-child) {
				padding-top: 0.75em;
			}

			p:not(:last-child) {
				padding-bottom: 1.25em;
			}
		}

		> div.colors {
			border-color: red;

			p {
				border-left: solid 10px;
				border-color: inherit;
				padding-left: 1em;
				position: relative;
			}

			p:before {
				content: "";
				position: absolute;
				top: 2px;
				bottom: 2px;
				left: -8px;
			}

			p:first-child {
				border-radius: 4px 0 0 0;
			}

			p:first-child:before {
				border-radius: 4px 0 0 0;
				bottom: 0px;
			}

			p:last-child {
				border-radius: 0 0 0 4px;
			}

			p:last-child:before {
				top: 0px;
				border-radius: 0 0 0 4px;
			}

			p:not(:first-child):not(:last-child):before {
				top: 0px;
				bottom: 0px;
			}
		}
	}