<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	<h1>{% t page.title %}</h1>
	<h2>{% if page.lyricist %}{% t songs.global.lyricist %}{% t page.lyricist %}{% endif %}
		{% if page.lyricist and page.composer or page.comparranger %}{% t songs.global.divider %}{% endif %}
		{% if page.composer %}{% t songs.global.composer %}{% t page.composer %}{% endif %}
		{% if page.lyricomposer %}{% t songs.global.lyricomposer %}{% t page.lyricomposer %}{% endif %}
		{% if page.arranger and page.composer or page.lyricomposer %}{% t songs.global.divider %}{% endif %}
		{% if page.arranger %}{% t songs.global.arranger %}{% t page.arranger %}{% endif %}
		{% if page.comparranger %}{% t songs.global.comparranger %}{% t page.comparranger %}{% endif %}
		{% if page.everything %}{% t songs.global.everything %}{% t page.everything %}{% endif %}</h2>
	{% if page.image %}
	<span class="image">
		<img src="{{ page.image | relative_url }}" alt="">
	</span>
	{% endif %}
	{{ content }}
	{% include footer.html %}

</body>

</html>