<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header.html %}

	{% if page.colors %}<style>
	{% for color in page.colors %}
	{% if forloop.index == 1 %}
	div.song > div.color{{ forloop.index }} > p{ border-color: {{ color }}; }
	div.song > div.colors > i.fad { --fa-secondary-color: {{ color }}; }
	{% else %}
	div.song > div.lyrics > p.color{{ forloop.index }} { border-color:{{ color }}; }
	{% endif %}
	{% endfor %}</style>{% endif %}
	<div class="song">
	{% if site.show_covers and page.image %}
	<span class="image">
		<img src="{{ page.image | relative_url }}" alt="">
	</span>
	{% endif %}
	<h1 class="title">{% t page.title %}</h1>
	<h2 class="credits">{% if page.lyricist %}{% t songs.global.lyricist %}{% t page.lyricist %}{% endif %}
		{% if page.lyricist and page.composer or page.comparranger %}{% t songs.global.divider %}{% endif %}
		{% if page.composer %}{% t songs.global.composer %}{% t page.composer %}{% endif %}
		{% if page.lyricomposer %}{% t songs.global.lyricomposer %}{% t page.lyricomposer %}{% endif %}
		{% if page.arranger and page.composer or page.lyricomposer %}{% t songs.global.divider %}{% endif %}
		{% if page.arranger %}{% t songs.global.arranger %}{% t page.arranger %}{% endif %}
		{% if page.comparranger %}{% t songs.global.comparranger %}{% t page.comparranger %}{% endif %}
		{% if page.everything %}{% t songs.global.everything %}{% t page.everything %}{% endif %}</h2>
	<div class="lyrics {% if page.colors %}colors color1{% endif %}" >
		{% if page.colors %}
		{% if page.icon.size >= 2 %}<style>div.song > div.colors > i.fad:before { content: '{{ page.icon[0] }}'; } div.song > div.colors > i.fad:after { content: '{{ page.icon[1] }}'; }</style>{% endif %}
		<i class="fad fa-sword-laser fa-lg"></i>{% endif %}
		{{ content }}
	</div>
	</div>

	{% include footer.html %}

</body>

</html>